
@font-face {
	font-family:JosefinSans-Light;
	src: url(Fonts/JosefinSans-Light.ttf);
}
@font-face {
	font-family:JosefinSans-Regular;
	src: url(Fonts/JosefinSans-Regular.ttf);
}
@font-face {
	font-family:JosefinSans-Thin;
	src: url(Fonts/JosefinSans-Thin.ttf);
}
@font-face {
	font-family:OpenSans-Regular;
	src: url(Fonts/OpenSans-Regular.ttf);
}
@font-face {
	font-family:OpenSans-Light;
	src: url(Fonts/OpenSans-Light.ttf);
}
@font-face {
	font-family:OpenSans-Bold;
	src: url(Fonts/OpenSans-Bold.ttf);
}
@font-face {
	font-family:timeburnernormal;
	src: url(Fonts/timeburnernormal.ttf);
}
@font-face {
	font-family:timeburnerbold;
	src: url(Fonts/timeburnerbold.ttf);
}
@font-face{
	font-family: Exo-Medium;
	src: url(Fonts/Exo-Medium.otf);
}
@font-face{
	font-family: Exo-Light;
	src: url(Fonts/Exo-Light.otf);
}
body{
	background-color: #efefef;
	font-family: Exo-Light;
}
header{
	background-color: black;
	width: 100%;
	height: 100px;
	left: 0;
	right: 0;
	top: 0;
	position: absolute;
}
header h1{
	float: left;
	color: white;
	margin-left: 20px;
	margin-top: 20px;
	font-family: "Century Gothic", sans-serif;

	border: 2px solid white;
	border-radius:  5px;
	padding: 10px;
}
header a{
	text-decoration: none;
	color: white;
	font-family: "Century Gothic", sans-serif;
}
header li{
	float: left;
	margin-left: 10px;
}
header ul{
	list-style: none;
	margin-top: 40px;
	margin-right: 40px;
	float: right;
}
header a:hover{
	text-decoration: underline;
}
#form{

	width: 500px;
	height: 650px;
	padding: 20px;
	margin: 0 auto;
	background-color: white;
	margin-top: 200px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1, h2, h3, h4, h5{
	font-family: "Century gothic", sans-serif, verdana;
}
#form input[type=text]{
	width: 300px;
	height: 30px;
	font-family: "Century Gothic", sans-serif, verdana;
	font-weight: bold;
	margin-top: 10px;
}
#form textarea{
	margin-top: 10px;
	resize: none;
	width: 320px;
	font-family: "Century Gothic", sans-serif, verdana;
}
#form input[type=file]{
	margin-top: 10px;
}
select{
	margin-top: 10px;
}
#form input[type=submit]{
	margin-top: 10px;
	font-family: OpenSans-Bold;
	padding:10px;
	border-radius: 10px;
}
